In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('csv_data/merged_df.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759616 entries, 0 to 1759615
Data columns (total 23 columns):
 #   Column           Dtype
---  ------           -----
 0   event_timestamp  object
 1   region           object
 2   ua_device_type   object
 3   ua_client_type   object
 4   ua_os            object
 5   ua_client_name   object
 6   total_watchtime  int64
 7   rutube_video_id  object
 8   viewer_uid       int64
 9   title            object
 10  category         object
 11  duration         int64
 12  author_id        int64
 13  age              int64
 14  sex              object
 15  age_class        int64
 16  latitude         float64
 17  longitude        float64
 18  time_zone        int64
 19  date             object
 20  time             object
 21  time of day      object
 22  Day Type         object
dtypes: float64(2), int64(7), object(14)
memory usage: 308.8+ MB

In [12]:
def calculate_median_percent(df):

    df = df[df['duration'] > 0]
    df['percent_watched'] = df['total_watchtime'] / df['duration'] * 100


    median_percent_per_category = df.groupby('category')['percent_watched'].median().reset_index()

    median_percent_per_category.columns = ['category', 'median_percent_watched']

    return median_percent_per_category


median_percent_df = calculate_median_percent(df)

In [13]:
median_percent_df['median_percent_watched'] = median_percent_df['median_percent_watched'] * 100

In [16]:
import math

In [17]:
median_percent_df['median_percent_watched'] = median_percent_df['median_percentwatched'].apply(lambda x: math.ceil(x))

In [14]:
median_percent_df

                        category  median_percent_watched
0                      Авто-мото                6.729104
1                          Аниме                7.903597
2                          Аудио                6.387783
3                     Аудиокниги                7.162860
4   Бизнес и предпринимательство                4.931496
5                      Видеоигры                3.972732
6                          Детям                3.057149
7                         Дизайн                3.768599
8                            Еда                3.419105
9                       Животные                7.009694
10                      Здоровье                8.855277
11                      Интервью                6.649180
12                       Красота                5.631068
13                      Культура                6.730122
14                     Лайфстайл                4.506732
15                      Лайфхаки                4.608531
16                  Люди и блоги                7.903966
17                        Музыка                4.684255
18                   Мультфильмы                8.517224
19                         Наука                7.929292
20                  Недвижимость                4.892931
21   Обзоры и распаковки товаров                5.944473
22                      Обучение                7.620164
23               Охота и рыбалка                5.235729
24                       Природа                4.813568
25                    Психология                6.913047
26                   Путешествия                5.956589
27                   Развлечения                6.575543
28                        Разное                6.471016
29                  Сад и огород                6.571204
30                       Сериалы                9.005822
31                         Спорт                6.213192
32        Строительство и ремонт                5.148676
33                  Телепередачи                7.334633
34        Техника и оборудование                7.666009
35         Технологии и интернет                6.657699
36                        Фильмы                3.968914
37                         Хобби                4.587832
38                     Эзотерика                2.742624
39                          Юмор                9.405805

In [18]:
median_percent_df.to_csv('median_percent_watched_category.csv')

In [30]:
def calculate_median_age_category(df):

    df = df[df['duration'] > 0]
    df['percent_watched'] = df['total_watchtime'] / df['duration'] * 100


    median_percent_per_category = df.groupby('age')['percent_watched'].median().reset_index()

    median_percent_per_category.columns = ['age', 'median_percent_watched']

    return median_percent_per_category


median_percent_df = calculate_median_percent_age(df)

In [29]:
median_percent_df

    age  median_percent_watched
0    11                0.458407
1    12                0.772034
2    13                0.409120
3    14                0.231738
4    15                0.722469
5    16                0.442315
6    17                0.555747
7    18                0.771036
8    19                1.014536
9    20                2.739250
10   21                6.841655
11   22               27.460675
12   23               19.056991
13   24               13.975831
14   25               34.840671
15   26                6.178809
16   27                3.736418
17   28                2.314681
18   29               18.173936
19   30                2.447219
20   31               15.917446
21   32                0.983174
22   33                1.690074
23   34               13.794570
24   35               92.886165
25   36                2.115894
26   37               35.665138
27   38                1.364380
28   39               13.109263
29   40                9.068538
30   41                8.527185
31   42                0.692034
32   43                1.286827
33   44                1.280869
34   45               27.802341
35   46                3.095073
36   47                1.146100
37   48                2.562577
38   49                1.543880
39   50                0.749998
40   51                1.103406
41   52                5.719513
42   53                1.144907
43   54                1.088694

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1759616 entries, 0 to 1759615
Data columns (total 23 columns):
 #   Column           Dtype
---  ------           -----
 0   event_timestamp  object
 1   region           object
 2   ua_device_type   object
 3   ua_client_type   object
 4   ua_os            object
 5   ua_client_name   object
 6   total_watchtime  int64
 7   rutube_video_id  object
 8   viewer_uid       int64
 9   title            object
 10  category         object
 11  duration         int64
 12  author_id        int64
 13  age              int64
 14  sex              object
 15  age_class        int64
 16  latitude         float64
 17  longitude        float64
 18  time_zone        int64
 19  date             object
 20  time             object
 21  time of day      object
 22  Day Type         object
dtypes: float64(2), int64(7), object(14)
memory usage: 308.8+ MB

In [36]:
time_of_day_counts = df['time of day'].value_counts().reset_index()

# Rename the columns for clarity
time_of_day_counts.columns = ['time_of_day', 'count']

In [42]:
time_of_day_counts

  time_of_day   count
0     evening  593809
1         day  530497
2     morning  445754
3       night  189556

In [43]:
time_of_day_counts['time_of_day'] = time_of_day_counts['time_of_day'].replace({
    'evening': 'вечер',
    'day': 'день',
    'morning': 'утро',
    'night': 'ночь'
})

In [44]:
time_of_day_counts

  time_of_day   count
0       вечер  593809
1        день  530497
2        утро  445754
3        ночь  189556

In [45]:
time_of_day_counts.to_csv('time_of_day_counts.csv')